body {
      font: 400 14px/1.8 Lato, sans-serif;
      background-color: #ffffff;
}

.well{
	background-color: #ffffff;
}

.well_info{
	background-color: #ffffff;
	background-image : url('../img/icon_logo_1.png');
  	background-repeat: no-repeat;
  	background-position: center right;
}
/*.nav-tabs {
  #border-bottom: 2px solid #1098c9;
  #background-repeat : repeat-x;
}*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  /*color: #FFFFFF;
  cursor: default;
  background-color: #1098c9;
  border: 1px solid #1098c9;
  border-bottom-color: transparent;*/
  border-radius: 0px;
  border-top: solid 2px #527ab7;
}
.nav-tabs > li > a > i{
	color: #337ab7;
	top: 2px;
	margin-right: 7px;
}

.tab-pane{
	border: solid 1px #e4e4e4;
    border-top: none;
    /*padding: 15px;*/
}
/*.tab-content > .tab-pane > p,*/
.tab-pane > .media{
	border-bottom: solid 1px #e4e4e4;
	padding:15px;
}
.tab-pane > .media > button{
	padding: 10px 25px;
	border-radius: 0px;
	border-bottom: solid 3px #c54401;
	color: #ffffff;
}
.btn-tab{
	background-color: #f36b25;
}

.tab-content > .tab-pane > p:last-child{
	/*border-bottom: solid 1px #e4e4e4;*/
	padding:15px;
}

.navbar-nav > li {
    float: left;
	border-right: 1px solid #dedede;
	height: 40px;
	padding: 0 .5em; 
	margin:10px 0;
}
.navbar-nav > li:last-child  {
float: left;
border-right: none;
height: 40px;
/*padding: 0 .5em; */

}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #0d8dbf;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #03548F;
  background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #06acdc;
}

/* content */
.page p{
	padding: 0 15px;
}

/* footer */
.container-footer{
	background-color: #005490; 
	color: #ffffff; 
	padding-top: 50px; 
	background-image: url(../img/footer-grey.png); 
	background-repeat:  repeat-x, no-repeat; 
	background-position: top left, bottom right; 
	-webkit-border-top-left-radius: 4px; 
	-webkit-border-top-right-radius: 4px; 
	-moz-border-radius-topleft: 4px; 
	-moz-border-radius-topright: 4px; 
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
}
ul.list-unstyled> li > a{
	color: #ffffff;
	text-decoration: none;
}
ul.list-unstyled> li > a >i{
	margin-right: 10px;
}